.container {
    width: 100%;
    font-size: 30px;
}

.container .header .banner{
    width: 100%;
}

.container .font_size36 {
    font-size: 36px;
}

.container .color_fff{
    color: #fff;
}

.container .middle .notification{
    color: #f6ab00;
}

.container .middle {
    width: 678px;
    margin: 50px auto 0;
}

.container .middle .gray_text {
    color: #666;
    margin-top: 30px;
}

.container .middle .client {
    background: url("../images/border.png") no-repeat center bottom;
    background-size: 692px 1066px;
    width: 692px;
    height: 1080px;
    margin-top: 30px;
}

.container .middle .client .client_know {
    text-align: center;
    font-size: 40px;
}

.container .middle .client .table_group {
    display: table;
    padding: 20px 10px 0;
    line-height: 50px;
}

.container .middle .client .table_group .table_item_name {
    display: table-cell;
    text-align: justify;
    text-align-last: justify;
    font-weight: bold;
    width: 155px;
}

.container .middle .client .table_group .table_item_des {
    display: table-cell;
}

.container .middle .client .text_group {
    padding: 0 10px;
    margin-top: 20px;
    line-height: 50px;
}

.container .full_screen {
    height: 3180px;
    background: url("../images/wave.jpg") no-repeat center;
    padding-top: 40px;
    background-size: cover;
}

.container .brain {
    font-size: 49px;
    color: #fff;
    text-shadow: 3px 4px #000;
    text-align: center;
}

.container .brain:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 35px;
    background: url("../images/star.png") no-repeat center;
    background-size: 30px 35px;
    margin-right: 10px;
}

.container .brain:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 35px;
    background: url("../images/star.png") no-repeat center;
    background-size: 30px 35px;
    margin-left: 10px;
}

.container .middle .little_title {
    text-align: center;
    margin-top: 20px;
}

.container .middle .ul_list li span:first-child{
    background-color: #fff;
    border-radius: 50%;
    width: 47px;
    display: inline-block;
    text-align: center;
}

.container .middle .ul_list li {
    white-space:nowrap;
    margin-top: 10px;
}


.container .para_img {
    width: 100%;
    margin-top: 40px;
}

.container .para_text {
    margin-top: 20px;
}

.container .para_table {
    display: table-cell;
    padding-top: 10px;
}

.container .para_table .order_number {
    display: table-cell;
    width: 20px;
}

.container .para_table .para_item_text {
    display: table-cell;
}

.container .text_indent {
    text-indent: 2em;
}

.container .medal_item img {
    width: 100%;
}

.container .medal {
    margin-top: 20px;
}

.container .medal_item {
    box-sizing: border-box;
    width: 50%;
    padding: 10px 10px 0;
}

.container .full_sec {
    padding-top: 100px;
    height: 1500px;
    background-size: 100% 1500px;
}

.container .full_third {
    background-color: #14bdda;
}